{% extends 'base.html' %}
{% load static %}
{% load blog_filters %}


{% block content %} 
  <br>
  {% for post in object_list %}

    <div class="container-fluid">
      <h2 class="text-center"><a class="text-dark" style="text-decoration: none;" href="{% url 'post-detail' slug=post.slug %}">{{post.title}}</a></h2>
      <img onclick="window.location.href='{% url "post-detail" slug=post.slug %}'" class="rounded" src="{{post.image.url}}" alt="{{post.title}}" style="width:100%; cursor: pointer;">
      <p><small>{{post.created_at|date:'F d, Y'}}</small></p>
      <p class="text-left">{{post.summary|safe}}</p>
      <a class="btn btn-outline-primary text-center" href="{% url 'post-detail' slug=post.slug %}">Ver artigo</a>
    </div>
    <br>
    <hr>
  {% endfor %}

{% endblock content %}