{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

  <!-- Title -->
  <h1 class="mt-4">{{ post.title }}</h1>

  <hr>

  <!-- Date/Time -->
  <p>{{post.created_at|date:'F d, Y'}}</p>

  <hr>

  <!-- Preview Image -->
  <img class="card-img-top rounded" src="{{ post.image.url }}" alt="{{ post.title }}">

  <hr>

  <!-- Post Content -->

  {{ post.content|safe }}

  <br>
  <hr>

  <!-- Post Comments -->

  <div id=comments class="card-body">
    {% if new_comment %}
      <div class="alert alert-success" role="alert">
        Seu comentário está aguardando moderação.
      </div>
    {% else %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#commentModal">
      Deixe seu comentário
    </button>
    {% endif %}
  </div>

  {% for comment in comments %}
  <div class="container-fluid" style="padding: 10px;">
    <p class="font-weight-bold">
      <span class="text-primary">{{ comment.name }}</span> • <span class="text-muted font-weight-normal">{{ comment.created_at|date:'F d, Y' }}</span>
    </p>
    {{ comment.body|safe }}
  </div>
  {% endfor %}

  <!-- Subscribe Modal -->
  <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="commentModalLabel">Deixe seu comentário.</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form  method="POST">
            {% csrf_token %}
            {{ comment_form.media }}
            {% crispy comment_form %}
          </form>        
        </div>
      </div>
    </div>
  </div>
  
{% endblock content %}


{% block related_posts %}

  {% if post.get_related %}
    
    <br>
    <hr>
    <br>
    
    <div class="row jumbotron">
              
      <div class="container">

        <h3>VOCÊ PODE GOSTAR TAMBÉM</h3>
        <br>
        <div class="row">
          
          {% for related in post.get_related %}

            <div onclick="window.location.href='{% url "post-detail" slug=related.slug %}'" class="card my-3 mx-3 related-post" style="width: 18rem;">
              <img src="{{ related.image.url }}" class="card-img-top" alt="{{ related.title }}">
              <div class="card-body">
                <h5 class="card-title">{{ related.title }}</h5>
                <p class="card-text">{{ related.summary|safe }}</p>
              </div>
            </div>

          {% endfor %}

        </div>
      </div>
              
    </div>
  {% endif %}

{% endblock related_posts %}
